<div class=" quiz-box-container col-6 horizontal-center">
  <div class="quiz-box col-6">
    <div class="quiz-item">
      <div class="center-align">
        QUIZ 1
      </div>
      <button class="btn btn-green cursor-pointer" (click)="onStartQuiz()">START QUIZ</button>
    </div>
  </div>

  <div class="quiz-box col-6">
    <div class="quiz-item">
      <div class="center-align">
        QUIZ 2
      </div>
      <button class="btn btn-green cursor-pointer" (click)="onStartQuiz()">START QUIZ</button>
    </div>
  </div>
</div>





