.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 50px;
  font-size: 1.3em;
}
.container *{
  font-size: 1em;
}
.score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 1px 1px 20px #c5c5c5;
}
.score{
  margin-bottom: 20px;
}
.answer-loop{
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 20px #c5c5c5;
  margin-top: 10px;

}
.answers-container{
  margin-top: 10px;
}
.red-text{
  color: red;
  font-weight: 500;
}
.que{
  letter-spacing: 2px;
}
